--nav-height: 91px;

main .section {
    background: #FFF;
}

footer {
    margin-top: 0;
}

.header.block {
    background: #000 !important;
    height: 90px !important;
}

header nav .nav-brand img {
    width: 230px !important;
}

@media (min-width: 1000px) {
    header nav .nav-brand {
        flex: 0 0 230px !important;
    }
}